.header-logo {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header a:hover {
  text-decoration: none;
}

.header h3 a {
  padding-left: 20px;
  color: #6C7A89;
}

.header h3 a:hover {
  color: #22A7F0;
}